/*
 * Ganguli Lab website styles
*/

/************* COLORS *************/
body{color:#3f3c30;background-color:#fbfbf9;}
a{color:#930000;}
a:hover{color:#2e2d29;text-decoration:underline;}
a.muted:hover{color:#eee6cb;}
h1,h2,h3,h4,h5,h6{color:#2e2d29;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#3f3c30;}
.nav-pills>.active>a,.nav-pills>.active>a:hover{color:#ffffff;background-color:#820000;}
.muted{color:#8a887d;}
hr{border-top:1px solid #e9e6df;border-bottom:1px solid #ffffff;}

/************* global *************/
body {
		background: url('../img/lightwool.png') repeat 0 0;
}

.container-narrow {
		width: 900px;
		margin: 0 auto;
		margin-top: 40px;
}

hr {
		height:2px;
}

.title {
		font-size: 20px;
		color: #8a887d;
}

h1 {
		font-size: 38px;
}

.masthead a:hover {
		text-decoration: none;
}

/************* homepage **************/
.maintitle {
		text-align: center;
		margin-bottom: 20px;
}

/************* People page ***********/
.profile {
		margin-top: 5px;
}

.marketing {
		margin-bottom: 20px;
}

.lead {
		margin-bottom: 5px;
		margin-top: 5px;
}

.marketing .muted {
		margin-left: 10px;
		font-size: 16px;
}

/************* publications page ***********/
.publication {
		margin-bottom: 5px;
		padding-top: 5px;
		border-top: 1px solid #eee6cb;
}

.pubtitle {
		font-family: “Trebuchet MS”, sans-serif;
		font-size: 15px;
		font-style: normal;
		font-weight: bold;
		text-transform: normal;
		letter-spacing: 0.5px;
		line-height: 1.0em;
		margin-bottom: 5px;
}

.pubsubtext {
		font-size: 14px;
		margin-bottom: 0px;
}

.publinks {
		float: right;
}

.publist {
		margin-top: 10px;
}
