/*
 * Ganguli Lab website styles
*/

body {
		background: url('../img/redox2.png') repeat 0 0;
}

.container-narrow {
		width: 900px;
		margin: 0 auto;
		margin-top: 40px;
}

hr {
		background:#000;
		height:2px;
}

/* People page */
.profile {
		margin-top: 5px;
}

.marketing {
		margin-bottom: 20px;
}

.lead {
		margin-bottom: 5px;
		margin-top: 5px;
}

.marketing .muted {
		margin-left: 10px;
		font-size: 16px;
}
